@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;}
header{
    background-color: #ef8a6a;
}
header p{
    margin: 0px;
}
.titulo{
    position: relative;
     
}
.titulo img{
    position: relative;
    width: 100%;
    height: auto; 
}
.titulo h2 {
position: absolute;    /* posición absolute con respecto al padre */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 6vh;
}
