@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;}
#head{
    background-color: #ef8a6a;
}
#head p {
    margin: 0px;
}


section img {
    max-width: 100%;
}
section h2{
    
    font-size: 5vh;
    color: red;
}
section p{
    font-size: 2vh;
}