p{
    color:rgb(255, 0, 0);/* comentario */
}

.contenedor img{
vertical-align: text-top;
align-content: center;
    border: 3px solid #76a82f;
border-radius: 30px,30px;
      }

   
  
    
  
  div.container{
    border: 5px, 5px solid #06b99244;
    border-radius: 20%, 20%, 20%, 20%;

      margin-left: auto;
      margin-right: auto;
      width: 700px;

  }