*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin: 0; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

label {
  margin: 0.5em;
}

.section {
  margin: 1em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#validate{
  display: none;
}

#user-button{
  display: none;
}
#logout-button{
  display: none;
}

.container{
  margin-top: 10%;
}
